<!DOCTYPE html>
<html>

<head>
  <!-- <title>
    <%= productName %>
  </title> -->

  <meta charset="utf-8">
  <!-- <meta name="description"   content="<%= productDescription %>"> -->
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">

  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?a263e884d6704221d390c43f88584946";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();

    // var _hmt = _hmt || [];
    // _hmt.push(['_requirePlugin', 'UrlChangeTracker', {
    //   shouldTrackUrlChange: function (newPath, oldPath) {
    //     return newPath && oldPath;
    //   }
    // }
    // ]);
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-83EVEER2QY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-83EVEER2QY');
  </script>
  <!-- toutiao 自动收录-->
  <script>
    (function () {
      var el = document.createElement("script");
      if (document.domain === "shop.hjdang.com") {
        el.src = "https://lf1-cdn-tos.bytegoofy.com/goofy/ttzz/push.js?22d5735a69d8ccd1eea2dbc806fc0e0698079c9af12734c2e727766db80cc2b030632485602430134f60bc55ca391050b680e2741bf7233a8f1da9902314a3fa";
      } else {
        el.src = "https://lf1-cdn-tos.bytegoofy.com/goofy/ttzz/push.js?fec97b62b69f27620404ee4bbbc60ce18de3b33a974ff1222d2ce2f51fe24ea5fd9a9dcb5ced4d7780eb6f3bbd089073c2a6d54440560d63862bbf4ec01bba3a";
      }
      el.id = "ttzz";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(el, s);
    })(window)
  </script>
  <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3935005489954231"
    crossorigin="anonymous"></script> -->
  <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>


</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>